<div class="centered-content">
  <div class="modal-box has background-light">
    <h1 class="title">
        Create a new todo
    </h1>
    <input #TodoTitleInput class="input has-background-light is-small" type="text" placeholder="title">
    <br>
    <textarea #TodoDescriptionInput class="textarea has-background-light is-small" placeholder="description"></textarea>
    <br>
    <input #TodoDuedateInput class="input has-background-light is-small" type="text" placeholder="due-date">
    <br>
    <div class="buttons is-right">
        <button class="button is-small" routerLink="/">Cancel</button>
        <button class="button is-primary has-text-white is-small" (click)="createTodo(TodoTitleInput.value, TodoDescriptionInput.value, TodoDuedateInput.value)">Add</button>
    </div>
  </div>  
</div>
